/**
 * @file
 * Right-to-Left styling for the Book module.
 */

.book-navigation .menu {
  padding: 1em 3em 0 0;
}

.book-navigation .page-previous {
  float: right;
}
.book-navigation .page-up {
  float: right;
}
