// .vuepress/style.styl, your extra styles.
.point,
.point-half
  width 32%
  display inline-block
  vertical-align top
  box-sizing border-box
  padding 0 2em
  text-align center
  h3
    color lighten($landoPink, 18%)
    font-family "Poppins", "Helvetica Neue", Arial, sans-serif
    font-size 1.7em
    padding .66em 0.24em 0
    margin 0
    letter-spacing -2px
  p
    font-family "Source Sans Pro", "Helvetica Neue", Arial, sans-serif
    font-size 1.1em
    word-spacing 0.05em
    line-height 1.5
.point-half
  width 48%
  text-align left
  padding-left 0

.custom-block.third,
.custom-block.half
  width 32%
  display inline-block
  vertical-align top
  box-sizing border-box
.custom-block.half
  width 48%
.custom-block.center
  text-align center
  padding 3em

.nav-item-sponsor
  text-transform uppercase
  color white
  padding .2em 2em
  border-radius 2em
  display inline-block
  background-color #2ecc71
  transition all .15s ease
  box-sizing border-box
  border 0px solid #ee4e85

.page-edit
  .edit-link
    a
      font-size: .9em
  .last-updated
    span
      font-size: 1em

@media (max-width $MQMobile)
  .custom-block.third,
  .custom-block.half,
  .point
    margin 0 auto
    width 80%
    padding 0
    &:after
      content "—"
      color $landoBlue
