// .vuepress/style.styl, your extra styles.
a.button,
  input.button
    padding: 0.50em 2em
    border-radius: 2em
    display: inline-block
    color: #fff
    background-color: lighten($accentColor, 8%)
    transition: all .15s ease
    box-sizing: border-box
    border: 1px solid lighten($accentColor, 8%)
    &.has-icon
      position: relative
      text-indent: 1.4em;
      > svg
        position: absolute
        left: 0.4em
        top: 0.3em
        width: 2em
    &.white
      background-color: #fff
      color: $accentColor
    &.gray
      background-color: #4e6e8e
      color: $light
      border-color: #4e6e8e
header
  height: 60px;
  padding: 10px 60px;
  position: relative;
  z-index: 100;
header.navbar
  background-color: $accentColor
  border: 0;
  .site-name
    color: #ffffff;
  .links
    background-color: $accentColor
#footer
  background-color: #4e6e8e
  padding: 40px 0
  color: #fff
  text-align: center
  font-size: 0.9em
  .social-icon
    margin 0 5px
    svg
      width 18px
      height 18px
  a
    font-weight: 700
    color: #fff
