[submodule "docs"]
	path = docs
	url = git@github.com:lando/docs.git
	branch = main
[submodule "cli"]
	path = cli
	url = git@github.com:lando/cli.git
	branch = main
[submodule "plugins/platformsh"]
	path = plugins/platformsh
	url = git@github.com:lando/platformsh.git
	branch = main
[submodule "plugins/acquia"]
	path = plugins/acquia
	url = git@github.com:lando/acquia.git
	branch = main
[submodule "plugins/lagoon"]
	path = plugins/lagoon
	url = git@github.com:lando/lagoon.git
	branch = main
[submodule "plugins/pantheon"]
	path = plugins/pantheon
	url = git@github.com:lando/pantheon.git
	branch = main
[submodule "blog"]
	path = blog
	url = git@github.com:lando/blog.git
	branch = main
[submodule "events"]
	path = events
	url = git@github.com:lando/events.git
	branch = main
[submodule "website"]
	path = website
	url = git@github.com:lando/website.git
	branch = main
