# Common sys files
.*.swp
._*
.git
.hg
.sign
.lock-wscript
.svn
.wafpickle-*
.DS_Store
.idea/
*.tar
*.jxp
*.sublime-*

# Logs
*.log
logs

# NPM files
node_modules

# lando config
env.yaml
env.yml

# gitbooks
_books
_book

# Build dirs
build
dist

# coverage reporting
.nyc_output
coverage/
