[Unit]
Description=Lando Container Engine
After=network.target network-online.target

[Service]
Type=simple
ExecStartPre=/usr/share/lando/scripts/bridgeup
ExecStart=/usr/share/lando/scripts/daemonup
ExecStop=#tbd
MountFlags=slave
LimitNOFILE=1048576
LimitNPROC=1048576
LimitCORE=infinity
TimeoutStartSec=0
Delegate=yes
Restart=always

[Install]
WantedBy=multi-user.target
