// .vuepress/override.styl, SHOULD ONLY contain "stylus constants override".
$accentColor = #ed3f7a

// More things
$landoPink = #ed3f7a
$landoGrey = #47474A
$landoBlue = #035785
$landoOrange = #FF7042
$landoGreen = #00A38F
$landoGrey = #2c3e50

// Movile
$MQMobile = 900px
