// .vuepress/override.styl, SHOULD ONLY contain "stylus constants override".
// $accentColor = #ed3f7a

// More things
$landoPink = #ed3f7a
$landoGrey = #47474A
$landoBlue = #035785
$landoOrange = #FF7042
$landoGreen = #00A38F
$landoGrey = #2c3e50

// Movile

// colors
$accentColor = $landoPink

$textColor = $landoGrey
$darkTextColor = #000

$borderColor = rgba($darkTextColor,.05)
$darkBorderColor = $darkTextColor

$codeBgColor = $darkTextColor

$bgColor = #fff
$headerBgColor = $bgColor;

$footerBgColor = $darkTextColor
$footerColor = #828282

$newsletterBgColor = #f8f8f8

// layout
$contentWidth = 740px

// responsive breakpoints
$MQSmall = 1200px
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

// code
$lineNumbersWrapperWidth = 3.5rem
$codeLang = js ts html md vue css sass scss less stylus go java c sh yaml py docker dockerfile makefile
