<a id="{{{escapedAnchor (anchorName)}}}"></a>

<h2 id="{{{escapedAnchor (anchorName)}}}" style="color: #ED3F7A; margin: 10px 0px; border-width: 2px 0px; padding: 25px 0px; border-color: #664b9d; border-style: solid;">
  {{>sig-name}}
</h2>
