
#permissions td.permission {
  padding-left: 0;
  padding-right: 1.5em;
}
#access-rules .access-type, #access-rules .rule-type {
  margin-right: 0;
  margin-left: 1em;
  float: right;
}
#user-admin-buttons {
  float: right;
  margin-left: 0;
  margin-right: 0.5em;
  clear: left;
}

.profile .picture {
  float: left;
  margin: 0 0 1em 1em;
}
