
.taxonomy-term-preview {
  background-color: #eee;
}
.taxonomy-term-divider-top {
  border-bottom: none;
}
.taxonomy-term-divider-bottom {
  border-top: 1px dotted #ccc;
}
.taxonomy-term-description {
  margin: 5px 0 20px;
}
