
/**
 * Minnelli, for Drupal 6.x
 * Stefan Nagtegaal, iStyledThis [dot] nl
 * Steven Wittens, acko [dot] net
 */

body #wrapper #container {
  width: 560px;
}

body.sidebars #wrapper #container {
  width: 980px;
}

body.sidebar-left #wrapper #container,
body.sidebar-right #wrapper #container {
  width: 770px;
}
