.theme-default-content blockquote {
  margin: 0;
  margin-bottom: 1.85em;
  margin-top: 1.85em;
  padding: 15px;
  color: #D83A6F;
  border-left: 11px solid #ed3f7a;
}

header.navbar .site-name {
  position: relative;
  bottom: 3px;
  font-size: 2.0em;
  line-height: 40px;
  font-family: "Dosis", "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
}

.search-box input {
  line-height: 30px;
  box-sizing: border-box;
  padding: 0 15px 0 30px;
  border: 1px solid #e3e3e3;
  color: #273849;
  outline: none;
  border-radius: 15px;
  margin-right: 10px;
  transition: border-color 0.2s ease;
  background: #fff url(../images/search.png) 8px 5px no-repeat;
  background-size: 20px;
  vertical-align: middle !important;
  opacity: .66;
}

.theme-container .custom-block.tip {
  background-color: #f3f5f7;
  border-color: #ed3f7a;
}
