/**
 * @file
 * Styles used by the Update Manager module.
 */
.checked .button {
  margin: 1em;
  vertical-align: middle;
}

table.update {
  width: 100%;
  margin-top: .5em;
}
.update tr {
  position: relative;
}

.update .project {
  font-weight: bold;
  font-size: 110%;
}
@media all and (min-width: 550px) {
  .update .project {
    float: left; /* LTR */
  }
  [dir="rtl"] .update .project {
    float: right;
  }
  .update .version-status {
    float: right; /* LTR */
  }
  [dir="rtl"] .update .version-status {
    float: left;
  }
  .update .versions {
    clear: both;
  }
}

@media all and (min-width: 550px) {
  .update .version-status {
    text-align: right;
    font-size: 110%;
    position: static;
    float: right; /* LTR */
    padding-left: 10px;
  }
  [dir="rtl"] .update .version-status {
    float: left;
    padding-left: 0;
    padding-right: 10px;
  }
}

.update .version-date {
  white-space: nowrap;
  display: none;
}
@media all and (min-width: 550px) {
  .update .version-date {
    display: inline-block;
  }
}

.current-version,
.new-version {
  direction: ltr; /* Note: version numbers should always be LTR. */
}

.update .version {
  padding-top: 5px;
}
.update .version div {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
@media all and (min-width: 550px) {
  .update .version-info {
    width: 66%;
    display: inline-block;
    vertical-align: top;
  }
  .update .version-links {
    width: 33%;
    display: inline-block;
    vertical-align: top;
  }
  .update .version-details {
    display: inline-block;
  }
}

.update .version-links ul {
  font-size: .9em;
  list-style-type: none;
  padding: 0;
  margin: 5px 0 0 0;
}
@media all and (min-width: 550px) {
  .update .version-links ul {
    text-align: right; /* LTR */
  }
  [dir="rtl"] .update .version-links {
    text-align: left;
  }
}

.update .security-error,
.update .version-recommended-strong .version-title {
  font-weight: bold;
}

.update .version-security .version-title {
  color: #EC351C;
}

.update .check-manually {
  padding-left: 1em; /* LTR */
}
[dir="rtl"] .update .check-manually {
  padding-left: 0;
  padding-right: 1em;
}

.update .info {
  display: none;
}
@media all and (min-width: 768px) {
  .update .info {
    display: block;
  }
}

.update-major-version-warning {
  color: #ff0000;
}
