node_modules

web/*
vendor

!web/sites
web/sites/*
!web/sites/default
web/sites/default/*
!web/sites/default/settings.php
web/sites/default/files/*
!web/sites/default/files/.gitkeep

!web/sites/all
web/sites/all/*
!web/sites/all/modules
web/sites/all/modules/*
!web/sites/all/modules/custom
!web/sites/all/themes
web/sites/all/themes/*
!web/sites/all/themes/custom
