body {
  padding-top: 78px;
}

.api-body-footer {
    padding-bottom: 100%;
}

.book-body {
  font-family: "Montserrat", "Trebuchet", sans-serif;
  font-weight: 400;
}

.book-body h1, h2, h3, h4, h5 {
  font-family: "Montserrat", "Trebuchet", sans-serif;
  text-transform: uppercase;
}

.book-body h1 {
  color: #ED3F7A;
}

.book-body h2, h3, h4, h5 {
  color: #47474A;
}

.panel {
  border: 0px;
  border-radius: 0px;
}

.panel-info > .panel-heading {
  background-color: #69B8E3;
}

.panel-primary > .panel-heading {
  background-color: #035F91;
  border-color: #035F91;
}

.panel-success > .panel-heading {
  background-color: #85D3C9;
}

.panel-success {
  background-color: #e8fdef;
}

.panel-warning > .panel-heading {
  background-color: #FB8666;
}

.panel-warning {
  background-color: #fff1cc;
}

.panel-danger > .panel-heading {
  background-color: #AB2500;
}

.panel-quote {
  border-left: 5px solid #FB8666;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 30px;
  color: #777;
}

.panel-quote .panel-title {
  font-size: 100px;
  color: #4BB5DD;
}

.markdown-section a {
  color: #ED3F7A;
}

.markdown-section blockquote {
  margin: 0;
  margin-bottom: 1.85em;
  margin-top: 1.85em;
  padding: 15px 15px;
  color: #664b9d;
  border-left: 11px solid #664b9d;
}

.book-summary ul.summary li.active>a {
  color: #664b9d;
}

.lando-header {
  height: 80px;
  min-height: 80px;
  padding: 20px 40px 20px 20px;
  box-sizing:border-box;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.15);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background-color: #fff;
}

.lando-header .lando-header-limiter {
  text-align: center;
  margin: 0 auto;
}

.lando-header .lando-header-limiter .fa {
  font-size: 32px;
}

/* Logo and branding */

.lando-header .lando-header-limiter .logo {
  float: left;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-top: -8px;
  font-family: "Montserrat", "Trebuchet", sans-serif;
  font-size: 2em;
  font-weight: 500;
  color: #47474A;
}

.lando-header .lando-header-limiter .logo img {
  height: 53px;
  display: block;
}

.lando-header .lando-header-limiter .logo span {
  margin-left: 1em;
}

/* The header links */

.lando-header .lando-header-limiter a {
  display: block;
  color: #47474A;
  text-decoration: none;
}

.lando-header .lando-header-limiter nav {
  float: right;
  font-family: "Montserrat", "Trebuchet", sans-serif;
  font-size: 15px;
  line-height: 40px;
}

.lando-header .lando-header-limiter nav a {
  display: inline-block;
  padding: 0 5px;
  opacity: 0.9;
  text-decoration:none;
  color: #47474A;
  font-size: 24px;
  line-height:1;
  font-weight: 300;
}

.lando-header .lando-header-limiter nav a:hover {
  color: #47474A;
}

.lando-header .lando-header-limiter nav a.selected {
  background-color: #88f7df;
  color: #47474A;
  border-radius: 3px;
  padding:6px 10px;
}

/* Making the header responsive. */

@media all and (max-width: 600px) {

  .lando-header {
    padding: 20px 0;
    height: 85px;
  }

  .lando-header .lando-header-limiter h1 {
    float: none;
    margin: -8px 0 10px;
    text-align: center;
    font-size: 24px;
    line-height: 1;
  }

  .lando-header .lando-header-limiter nav {
    line-height: 1;
    float:none;
  }

  .lando-header .lando-header-limiter nav a {
    font-size: 13px;
  }

}
