
/**
 * @file
 * Admin stylesheet for file module.
 */

/**
 * File upload widget.
 */
.form-managed-file .form-file,
.form-managed-file .form-submit {
  margin: 0;
}
.form-managed-file .progress-disabled {
  display: inline;
  float: none;
}
.form-managed-file div.ajax-progress-bar {
  display: none;
  margin-top: 4px;
  padding: 0;
  width: 28em;
}
.form-managed-file div.ajax-progress-bar .bar {
  margin: 0;
}
