[Desktop Entry]
Name=Lando
Comment=Best local dev in the galaxy
Keywords=development;
OnlyShowIn=GNOME;KDE;LXDE;MATE;Razor;ROX;TDE;Unity;XFCE;EDE;Cinnamon;Old;Pantheon;
Path=/usr/share/lando/
Exec=/usr/share/lando/Lando
Icon=/usr/share/lando/lando.png
StartupNotify=true
Terminal=false
Type=Application
Categories=Development;Utility;
