/* ---------- Legacy colors ---------- */

.l-container {
  background: #ffffff;
}
.layout {
  background: transparent;
}
.l-header {
  background-color: #48a9e4;
  background-image: -moz-linear-gradient(top, #0779bf 0%, #48a9e4 100%);
  background-image: -ms-linear-gradient(top, #0779bf 0%, #48a9e4 100%);
  background-image: -o-linear-gradient(top, #0779bf 0%, #48a9e4 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0779bf), color-stop(1, #48a9e4));
  background-image: -webkit-linear-gradient(top, #0779bf 0%, #48a9e4 100%);
  background-image: linear-gradient(top, #0779bf 0%, #48a9e4 100%);
}
.l-header ul.menu li a {
  color: #e3e3e3;
}
a {
  color: #0071b3;
}
a:hover,
a:focus {
  color: #018fe2;
}
a:active {
  color: #23aeff;
}
.l-sidebar .block {
  background-color: #f6f6f2;
  border-color: #f9f9f9;
}
.l-footer-wrapper,
.l-footer {
  background: #292929;
}
.l-header a {
  color: #fffeff;
}
