
#blocks td.region {
  font-weight: bold;
}
#blocks tr.region-message {
  font-weight: normal;
  color: #999;
}
#blocks tr.region-populated {
  display: none;
}
.block-region {
  background-color: #ff6;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 3px;
}
