---
title: <%= title %>
metaTitle: <%= title %> | Lando
description: <%= description %>
date: <%= date %>
original: <%= original %>

author: <%= author %>
pic: <%= pic %>
link: <%= link %>
location: <%= location %>

tags:
<%= parsedTags %>

feed:
  enable: true
  author:
    - name: <%= author %>
      email: alliance@lando.dev
      link: <%= link %>
  contributor:
    - name: <%= author %>
      email: alliance@lando.dev
      link: <%= link %>
---

YOUR POST DOTH GOES HITHER
